<nav ng-class="getNavStyle(scroll)">
  <button class="button fa fa-caret-left" ng-click="goPrevious()"></button>
  <button class="button fa fa-caret-right" ng-click="goNext()"></button>

  <button class="button fa fa-search-plus" ng-click="zoomIn()"></button>
  <button class="button fa fa-file-o" ng-click="fit()"></button>
  <button class="button fa fa-search-minus" ng-click="zoomOut()"></button>

  <button class="button fa fa-repeat" ng-click="rotate()"></button>
</nav>
<div class="notification is-primary is-danger {{errorStatus}}">
  {{error}}
</div>